[Unit]
Description=NRWCup Flask Application
After=network-manager.service
Wants=network-manager.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/NRWcup
ExecStart=/usr/bin/python3 /home/NRWcup/app_main.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
